.menu-container{
    height: 65px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
}

.menu-option{
    border: none;
    position: relative;
    bottom: 20px;
    border: 1px solid var(--background-container);
    background-color: var(--background);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 5px solid var(--main-color);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-option:hover{
    transform: scale(1.2);
    margin:0 25px;

}

.menu-option img{
    width: 60%;
    height: 60%;
}