.music-player{
    width: calc(100% - 40px);
    display: flex;
flex-direction: column;
box-shadow: 0px 1px 20px -9px rgba(0,0,0,0.61);
-webkit-box-shadow: 0px 1px 20px -9px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 1px 20px -9px rgba(0,0,0,0.61);
margin: 0px 8px;
gap: 4px;
background-color: var(--background);
border-radius: 20px;
transition: .5s height;
overflow:hidden;
height:8.07rem;
touch-action: none
}

.progress-bar-container{
  
    display: flex;
    gap: 16px;
    font-family: "DM Sanx", sans-serif;

}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    flex-grow: 1;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--main-color);
    border-radius: 4.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border: 2px solid var(--main-color);
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: var(--main-color);
    border-radius: 4.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
  }

  .current-time{
    padding: 0.5rem;
    color: var(--background);
    background-color: var(--main-color);
    border-radius: 50px;
  }

  .play-pause{
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    scrollbar-width: none;
  }

  .play-pause img{
    width: 40px;
    height: 40px;
  }

  .play-pause:hover{
    background-color: var(--background-hover);
  }

  .collapser{
    background-color: var(--main-color)
  }
  
 

  .player-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }