.bottom{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}


.top{
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 14rem;
}

html{
  font-size: 14px;
}
