.bottom{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  background: rgb(252,175,173);
background: linear-gradient(180deg, var(--main-color-0-rgba) 0%, var(--main-color-1-rgba) 100%);
}

.body{
  max-height: 100vh;
  overflow-y: hidden;
}

.top{
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  padding-bottom: 230px;
}

html{
  font-size: 14px;
}

