:root{
    --background-container: #f7f7f7;
    --background-hover: #E8E8E8;
    --background: #fff;
    --border-radius: 16px; 
    --main-color: #fcafad;
    --main-color-0-rgba: rgba(252,175,173, 0);
    --main-color-1-rgba: rgba(252,175,173, 1);

   
}

body{
    font-family: "Dm Sans", sans-serif;
}