:root{
    --background-container: #f7f7f7;
    --background-hover: #E8E8E8;
    --background: #fff;
    --border-radius: 16px; 
    --main-color: #fcafad;
   
}

body{
    font-family: "Dm Sans", sans-serif;
}